@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

body, h1, h2, p {
    margin-block-end: 0;
    margin-block-start: 0;
}

h1, h2 {
    line-height: 1.1;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

:target {
    scroll-margin-block: 5ex;
}